body{
  text-align:center;
  font-family:sans-serif;
  background-color: steelblue;
}

h1{
  background-color:#EEE;
  padding: 20px;
  vertical-align:text-bottom;
}

section{
  background-color:#EEE;
  padding: 20px;
  margin: 20px auto;
  max-width:80%;
  color: #222;
}

section h2{
  text-align:left;
  font-weight:100;
  line-height:1.2em;
  border-bottom: 2px solid darkgrey;
}

section p{
  text-align:left;
  padding-left: 20px;
  font-weight:100;
  line-height:1.2em;
}

footer{
  border-top:2px solid white;
  margin-top:500px;
}
